---
// Projects section component
import projects from '../content/projects.json';
const { default: ProjectCard } = await import('./ProjectCard.astro');
---
<section id="projects" class="mb-16">
  <h2 class="text-2xl font-bold mb-4 border-b-4 border-secondary inline-block pb-1">Projets</h2>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {projects.map(project => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>
